body {background-color: Cornsilk;}
img {
border-radius: 15px;
border: 3px black;}
string1{
<p>Ola boa tardeeeeee</p>
}
h1 {
font-size: 240%;
background: BurlyWood;
border-radius: 15px;
color: Brown;
border: 4px
DarkGray;
padding: 15px;
box-shadow: 0px 3px 3px Peru;
text-shadow: 2px 2px 2px
darkgrey;}

h2 {font: "Arial";
color: Black;}

p {color: DarkGray;}